@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --blue: #007bff;     /* Blue */
    --grey: #6c757d;   /* Grey */
    --green: #28a745;     /* Green */
    --red: #dc3545;      /* Red */
    --red_light: #e93e4f; 
    --yellow: #FFBD59;     /* Yellow */
    --cyan: #17a2b8;        /* Cyan */
    --light_grey: #f8f9fa;       /* Light grey */
    --dark_grey: #343a40;        /* Dark grey */
    --feedback: #000000;    /* Black */
    --dark_blue: #1c1cba;      /* Blue */
    --white: #fff;       /* white */
    --light_grey: #7f858a;   /* Grey */
  }
  body {
    font-family: 'Lato', sans-serif !important;
    margin: 0;
    padding: 0;
    /* height: 1500px;
    background-image: url('/bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
     */
  }
  
 
  
 
 
  
